header{
    border-radius: 10px;
    background-color: rgb(209, 209, 195);
    color: black;
    font-size: large;
}
header p{
    font-size: 30px;
}
p,nav{
    display: inline-block;
    justify-content: space-around;
}
.nav{
    display: flex;
    justify-content: space-between;
}
nav ul{
    list-style-type: none;
    display: inline;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 1em;
}
nav ul li a{
    font-weight: bolder;
    font-size: larger;
    text-decoration: none;
    color: green;
}
.tagline{
    margin-left: 50px;
    font-family: Papyrus;
}
.hed1{
    font-family: Lucida Handwriting;
}
form{
    

    height: 200px;
    width: 200px;
    border: 1px solid black;
    background-color: #3C1053FF;
}
form:hover{
    background-color:rgb(183, 102, 102);
}
form label,input,textarea,button{
    margin-left: 10px;
}
body{
    margin-left:30px ;
    background-color:#3C1053FF;
    color: white;
    font-family: Comic Sans;
    font-size: 50px;
}
section {
    min-height: 100vh;
    padding: 20px;
    font-size: large;
}
a{
    text-decoration: none;
    color: whitesmoke;
}


footer {
background-color: beige;
color: black;
text-align: center;
padding: 40px 20px;
font-family: 'Arial', sans-serif;
position: relative;
border-radius: 10px;
}



footer p {
margin: 10px 0;
font-size: 16px;
line-height: 1.6;
font-weight: bold;
}

footer a {
color: #ffcc00;
text-decoration: none;
font-weight: bold;
}

footer a:hover {
color: #ffffff;

}

footer .social-icons {
margin-top: 1px;
}

footer .social-icons a {
margin: 0 10px;
display: inline-block;
font-size: 24px;
color:  black;
transition: color 0.3s;
}

footer .social-icons a:hover {
border-radius: 5px;
background-color: #333D79FF;
text-decoration: none;
color: beige;
}
